version: "3.9"

networks:
  doodle_net:
    name: doodle_net
    driver: bridge

volumes:
  pg_user_data:
  pg_arenas_data:
  pg_session_data:
  pg_matchmaker_data:
  pg_leaderboard_data:

services:
  # --------------- user-db ---------------
  postgres-user:
    image: postgres:16-alpine
    container_name: doodle_postgres_user
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: user_service_db_doodleJumpMotion
    ports:
      - "5436:5432"
    volumes:
      - pg_user_data:/var/lib/postgresql/data
      - ./initdb.d/01-user-service.sql:/docker-entrypoint-initdb.d/01-user-service.sql
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U daniil -d user_service_db_doodleJumpMotion",
        ]
      interval: 1m
      timeout: 5s
      retries: 5

  # --------------- arenas-db ---------------
  postgres-arenas:
    image: postgres:16-alpine
    container_name: doodle_postgres_arenas
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: arenas_service_db_doodleJumpMotion
    ports:
      - "5437:5432" # хост:5433 → контейнер:5432
    volumes:
      - pg_arenas_data:/var/lib/postgresql/data
      - ./initdb.d/02-arenas-service.sql:/docker-entrypoint-initdb.d/02-arenas-service.sql
    networks:
      - doodle_net

  # --------------- session-db ---------------
  postgres-session:
    image: postgres:16-alpine
    container_name: doodle_postgres_session
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: sessions_service_db_doodleJumpMotion
    ports:
      - "5438:5432"
    volumes:
      - pg_session_data:/var/lib/postgresql/data
      - ./initdb.d/03-session-service.sql:/docker-entrypoint-initdb.d/03-session-service.sql
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U daniil -d sessions_service_db_doodleJumpMotion",
        ]
      interval: 1m
      timeout: 5s
      retries: 5

  # --------------- matchmaker-db ---------------
  postgres-matchmaker:
    image: postgres:16-alpine
    container_name: doodle_postgres_matchmaker
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: matchmaker_service_db_doodleJumpMotion
    ports:
      - "5439:5432"
    volumes:
      - pg_matchmaker_data:/var/lib/postgresql/data
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U daniil -d matchmaker_service_db_doodleJumpMotion",
        ]
      interval: 1m
      timeout: 5s
      retries: 5
  # --------------- leaderboard-db ---------------
  postgres-leaderboard:
    image: postgres:16-alpine
    container_name: doodle_postgres_leaderboard
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: leaderboard_service_db_doodleJumpMotion
    ports:
      - "5440:5432"
    volumes:
      - pg_leaderboard_data:/var/lib/postgresql/data
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U daniil -d leaderboard_service_db_doodleJumpMotion",
        ]
      interval: 1m
      timeout: 5s
      retries: 5

  # --------------- redis ---------------
  redis:
    image: redis:7-alpine
    container_name: doodle_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - doodle_net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1m
      timeout: 3s
      retries: 5

  # --------------- nats ---------------
  nats:
    image: nats:alpine
    container_name: doodle_nats
    restart: unless-stopped
    ports:
      - "4222:4222"
      - "8222:8222"
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8222/healthz",
        ]
      interval: 1m
      timeout: 3s
      retries: 5

  # --------------- user-service ---------------
  user-service:
    build: ./user-service
    container_name: doodle_user_service
    restart: unless-stopped
    depends_on:
      postgres-user:
        condition: service_healthy
    environment:
      DB_HOST: postgres-user
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: user_service_db_doodleJumpMotion
      INTERNAL_API_TOKEN: super_secret_token_123
    ports:
      - "8085:8080"
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8080/health",
        ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 15s

  # --------------- arenas-service ---------------
  arenas-service:
    build: ./arenas-service
    container_name: doodle_arenas_service
    restart: unless-stopped
    depends_on:
      - postgres-arenas
      - user-service
    env_file:
      - ./arenas-service/.env # USER_SERVICE_URL=http://doodle_user_service:8080
    environment:
      DB_HOST: postgres-arenas
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: arenas_service_db_doodleJumpMotion
    ports:
      - "8086:8081"
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8081/arena/0",
        ]
      interval: 1m
      timeout: 5s
      retries: 5

  # --------------- session-service ---------------
  session-service:
    build: ./session-service
    container_name: doodle_session_service
    restart: unless-stopped
    depends_on:
      postgres-session:
        condition: service_healthy
      user-service:
        condition: service_healthy
    env_file:
      - ./session-service/.env
    environment:
      DB_HOST: postgres-session
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: sessions_service_db_doodleJumpMotion
      DB_SSLMODE: disable
      USER_SERVICE_URL: http://doodle_user_service:8080
    ports:
      - "8087:8083"
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8083/health",
        ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 15s

  # --------------- matchmaker ---------------
  matchmaker:
    build: ./matchmaking-service
    container_name: doodle_matchmaker
    restart: unless-stopped
    depends_on:
      postgres-matchmaker:
        condition: service_healthy
      redis:
        condition: service_started
      nats:
        condition: service_started
      session-service:
        condition: service_healthy
    env_file:
      - ./matchmaking-service/.env
    environment:
      DB_HOST: postgres-matchmaker
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: matchmaker_service_db_doodleJumpMotion
      REDIS_ADDR: redis:6379
      NATS_URL: nats://nats:4222
      SESSION_URL: http://session-service:8083/sessions/
    ports:
      - "8088:8084"
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8084/enqueue",
        ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 15s

  # --------------- GAME (dev, hot-reload) ---------------
  game-dev:
    build:
      context: ./game-service
      dockerfile: Dockerfile.dev
    container_name: doodle_game_dev
    ports:
      - "8079:8079"
      - "19000:19000"
    environment:
      EXPO_DEVTOOLS_LISTEN_ADDRESS: 0.0.0.0
      EXPO_PUBLIC_PARENT_ORIGIN: ${PARENT_ORIGIN:-http://localhost:3000}
      EXPO_PUBLIC_USER_SERVICE: http://user-service:8080
      EXPO_PUBLIC_SESSION_SERVICE: http://session-service:8083
      EXPO_PUBLIC_ARENAS_SERVICE: http://arenas-service:8081
      EXPO_PUBLIC_MATCHMAKER_SERVICE: http://matchmaker:8084
    volumes:
      - ./game-service:/app
      - /app/node_modules
    networks:
      - doodle_net

  # --------------- GAME (prod, статика) ---------------
  # раскомментируй когда понадобится продакшен
  # game-prod:
  #   build:
  #     context: ./game-service
  #     dockerfile: Dockerfile.prod
  #   container_name: doodle_game_prod
  #   ports:
  #     - "8090:80"
  #   networks:
  #     - doodle_net
  # --------------- FRONTEND (статика) ---------------
  frontend:
    build:
      context: ./website # папка c index.html и пр.
      dockerfile: Dockerfile
    container_name: doodle_frontend
    ports:
      - "3000:80"
    networks:
      - doodle_net
    environment:
      USER_SERVICE_URL: http://localhost:8085
      SESSION_SERVICE_URL: http://localhost:8087
      MATCHMAKER_SERVICE_URL: http://localhost:8088
      GAME_DEV_URL: http://localhost:8079
      SESSION_SERVICE_WS_URL: ws://localhost:8087/ws

  #--------------------LeadeBoard--------------------
  leaderboard-service:
    build: ./leaderboard-service
    container_name: doodle_leaderboard_service
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
      postgres-leaderboard:
        condition: service_healthy
      user-service:
        condition: service_healthy
    environment:
      REDIS_ADDR: redis:6379
      INTERNAL_API_TOKEN: super_secret_token_123
      DB_HOST: postgres-leaderboard
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: leaderboard_service_db_doodleJumpMotion
    ports:
      - "8089:8080"
    networks:
      - doodle_net
